langchain
ipykernel
python-dotenv
langchain-community==0.0.29
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
requests
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
duckduckgo-search
validators==0.28.1
youtube_transcript_api
pytube
unstructured
youtube_transcript_api
numexpr
crewai==0.28.8
crewai_tools==0.1.6
langtrace-python-sdk